ConsoleApplication1/Service References/ServiceReference1/Property365Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:3838/Property365Service.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:3838/Property365Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3838/Property365Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PropertyMe.EF" />
      <xsd:import schemaLocation="http://localhost:3838/Property365Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Property365Service_GetAgentList_InputMessage">
    <wsdl:part name="parameters" element="GetAgentList" />
  </wsdl:message>
  <wsdl:message name="Property365Service_GetAgentList_OutputMessage">
    <wsdl:part name="parameters" element="GetAgentListResponse" />
  </wsdl:message>
  <wsdl:message name="Property365Service_GetAgent_InputMessage">
    <wsdl:part name="parameters" element="GetAgent" />
  </wsdl:message>
  <wsdl:message name="Property365Service_GetAgent_OutputMessage">
    <wsdl:part name="parameters" element="GetAgentResponse" />
  </wsdl:message>
  <wsdl:message name="Property365Service_AddAgent_InputMessage">
    <wsdl:part name="parameters" element="AddAgent" />
  </wsdl:message>
  <wsdl:message name="Property365Service_AddAgent_OutputMessage">
    <wsdl:part name="parameters" element="AddAgentResponse" />
  </wsdl:message>
  <wsdl:message name="Property365Service_UpdateAgent_InputMessage">
    <wsdl:part name="parameters" element="UpdateAgent" />
  </wsdl:message>
  <wsdl:message name="Property365Service_UpdateAgent_OutputMessage">
    <wsdl:part name="parameters" element="UpdateAgentResponse" />
  </wsdl:message>
  <wsdl:message name="Property365Service_DeleteAgent_InputMessage">
    <wsdl:part name="parameters" element="DeleteAgent" />
  </wsdl:message>
  <wsdl:message name="Property365Service_DeleteAgent_OutputMessage">
    <wsdl:part name="parameters" element="DeleteAgentResponse" />
  </wsdl:message>
  <wsdl:portType name="Property365Service">
    <wsdl:operation name="GetAgentList">
      <wsdl:input wsaw:Action="urn:Property365Service/GetAgentList" message="Property365Service_GetAgentList_InputMessage" />
      <wsdl:output wsaw:Action="urn:Property365Service/GetAgentListResponse" message="Property365Service_GetAgentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <wsdl:input wsaw:Action="urn:Property365Service/GetAgent" message="Property365Service_GetAgent_InputMessage" />
      <wsdl:output wsaw:Action="urn:Property365Service/GetAgentResponse" message="Property365Service_GetAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAgent">
      <wsdl:input wsaw:Action="urn:Property365Service/AddAgent" message="Property365Service_AddAgent_InputMessage" />
      <wsdl:output wsaw:Action="urn:Property365Service/AddAgentResponse" message="Property365Service_AddAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAgent">
      <wsdl:input wsaw:Action="urn:Property365Service/UpdateAgent" message="Property365Service_UpdateAgent_InputMessage" />
      <wsdl:output wsaw:Action="urn:Property365Service/UpdateAgentResponse" message="Property365Service_UpdateAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAgent">
      <wsdl:input wsaw:Action="urn:Property365Service/DeleteAgent" message="Property365Service_DeleteAgent_InputMessage" />
      <wsdl:output wsaw:Action="urn:Property365Service/DeleteAgentResponse" message="Property365Service_DeleteAgent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>