ConsoleApplication1/Service References/ServiceReference1/Property365Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Property365Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7673/Property365.Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7673/Property365.Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7673/Property365.Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PropertyMe.EF" />
      <xsd:import schemaLocation="http://localhost:7673/Property365.Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProperty365Service_GetAgentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentList" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_GetAgentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentListResponse" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_AddAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAgent" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_AddAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_GetAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgent" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_GetAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_UpdateAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAgent" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_UpdateAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_DeleteAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAgent" />
  </wsdl:message>
  <wsdl:message name="IProperty365Service_DeleteAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAgentResponse" />
  </wsdl:message>
  <wsdl:portType name="IProperty365Service">
    <wsdl:operation name="GetAgentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProperty365Service/GetAgentList" message="tns:IProperty365Service_GetAgentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProperty365Service/GetAgentListResponse" message="tns:IProperty365Service_GetAgentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IProperty365Service/AddAgent" message="tns:IProperty365Service_AddAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProperty365Service/AddAgentResponse" message="tns:IProperty365Service_AddAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IProperty365Service/GetAgent" message="tns:IProperty365Service_GetAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProperty365Service/GetAgentResponse" message="tns:IProperty365Service_GetAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IProperty365Service/UpdateAgent" message="tns:IProperty365Service_UpdateAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProperty365Service/UpdateAgentResponse" message="tns:IProperty365Service_UpdateAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IProperty365Service/DeleteAgent" message="tns:IProperty365Service_DeleteAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProperty365Service/DeleteAgentResponse" message="tns:IProperty365Service_DeleteAgent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Property365Service" />
</wsdl:definitions>