ConsoleApplication1/Service References/ServiceReference1/Property365Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3838/Property365Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PropertyMe.EF" />
  <xs:element name="GetAgentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PropertyMe.EF" minOccurs="0" name="GetAgentListResult" nillable="true" type="q1:ArrayOfAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PropertyMe.EF" minOccurs="0" name="GetAgentResult" nillable="true" type="q2:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PropertyMe.EF" minOccurs="0" name="newAgent" nillable="true" type="q3:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAgentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PropertyMe.EF" minOccurs="0" name="agent" nillable="true" type="q4:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAgentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAgentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>